{% extends 'base.html' %}

{% block title %}E-mail envoyé{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card shadow-lg" style="width: 100%; max-width: 500px;">
        <div class="card-body">
            <h2 class="card-title text-center">E-mail envoyé</h2>
            <p>Si cette adresse e-mail est enregistrée chez nous, vous recevrez un e-mail avec des instructions pour réinitialiser votre mot de passe.</p>
            <a href="{% url 'login' %}" class="btn btn-primary btn-block">Retour à la connexion</a>
        </div>
    </div>
</div>
{% endblock %}
