{% extends 'base.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <div class="jumbotron mt-4">
        <h1 class="display-4">Bienvenue sur le site de location de livres</h1>
        <p class="lead">Explorez notre collection de livres et participez aux discussions sur le forum.</p>
        <hr class="my-4">
        <p>Accédez à notre catalogue pour découvrir tous nos livres disponibles à la location.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Découvrir les livres</a>
    </div>
{% endblock %}
